<%= if @changeset.action do %>
	<div class="alert alert-danger">
		<p>Oops, something went wrong!</p>
	</div>
<% end %>

<div class="container">
	<h1>Sign Up</h1>
	
	<%= form_for @changeset, user_path(@conn, :create), fn f -> %>
		<div class="form-group">
			<%= text_input f, :username, placeholder: "Username", class: "form-control" %>
			<%= error_tag f, :username %>
		</div>
		<div class="form-group">
			<%= password_input f, :password, placeholder: "Password", class: "form-control" %>
			<%= error_tag f, :password %>
		</div>
		<%= submit "Sign Up", class: "btn btn-primary" %>
	<% end %>
	<%= link "< Back", to: page_path(@conn, :index) %>
</div>