<section class="content col-lg-2">
  <ol class="breadcrumb text-center">
    <%= if @current_user do %>
      <li id="current-username"><%= @current_user.username %></li> (you)
      <li><%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %></li>
    <% else %>
      <li><%= link "Register", to: user_path(@conn, :new) %></li>
      <li><%= link "Log in", to: session_path(@conn, :new) %></li>
    <% end %>
  </ol>
  Online:
  <div id="users_list"></div>
</section>
<section class="content col-lg-10">
  <div class="box box-success">
    <div class="box-header">
      <i class="fa fa-comments-o"></i>
      <h3 class="box-title">x</h3>
    </div>
    <div id="more">Show more</div>
    <div class="box-body chat" id="chat-box" style="overflow-y: scroll; height: 500px; resize: vertical;">
    </div>
    <div class="box-footer">
      <div class="col-sm-12">
        <div class="input-group">
          <input class="form-control" id="message" placeholder="Type message...">
          <div class="input-group-btn">
            <button type="button" class="btn btn-success" id="send-button">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
